@model Job_Application_Tracker.Models.ViewModels.Company.VM_Create
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-left">
    <h1>Create Company</h1>
    <div>
        <form asp-action="Create" asp-controller="Company" method="POST">
            <fieldset>
                <legend>Company Info</legend>

                @Html.LabelFor(m => m.CompanyName)<br />
                @Html.TextBoxFor(m => m.CompanyName)<br />
                <br />

                @Html.LabelFor(m => m.Applied)<br />
                @Html.RadioButtonFor(m => m.Applied, true) Applied<br />
                @Html.RadioButtonFor(m => m.Applied, false) Opted to not apply<br />
                <br />

                <button type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
</div>