@model Job_Application_Tracker.Models.Entities.Company

    <fieldset>
        <legend>Q/A Info</legend>
        <form asp-action="UpdateQAInfo" asp-controller="Company" method="post">
            @Html.HiddenFor(m => m.Id)

            <div class="row">
                <div class="col-3">
                    @Html.LabelFor(m => m.FullRemoteOk, null, new { @class = "font-weight-bold" })<br />
                    @Html.RadioButtonFor(m => m.FullRemoteOk, true) OK<br />
                    @Html.RadioButtonFor(m => m.FullRemoteOk, false) Not OK
                </div>
                <div class="col-3">
                    @Html.LabelFor(m => m.OutsideUSOK, null, new { @class = "font-weight-bold" })<br />
                    @Html.RadioButtonFor(m => m.OutsideUSOK, true) OK<br />
                    @Html.RadioButtonFor(m => m.OutsideUSOK, false) Not OK
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-2">
                    @Html.LabelFor(m => m.WhyWorkHere, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-10">
                    @Html.TextAreaFor(m => m.WhyWorkHere, 5, 1, new { @class = "w-100" })
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.Culture, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-10">
                    @Html.TextAreaFor(m => m.Culture, 5, 1, new { @class = "w-100" })
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.IntraLvlCommunication, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-10">
                    @Html.TextAreaFor(m => m.IntraLvlCommunication, 5, 1, new { @class = "w-100" })
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.ViewsOnFOSS, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-10">
                    @Html.TextAreaFor(m => m.ViewsOnFOSS, 5, 1, new { @class = "w-100" })
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.SecurityVsConvenience, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-10">
                    @Html.TextAreaFor(m => m.SecurityVsConvenience, 5, 1, new { @class = "w-100" })
                </div>
            </div>

            <hr />

            <div class="row mt-3">
                <div class="col-3">
                    @Html.LabelFor(m => m.CompanySize, null, new { @class = "font-weight-bold" })<br />
                    @Html.TextBoxFor(m => m.CompanySize)
                </div>
                <div class="col-3">
                    @Html.LabelFor(m => m.DepartmentSize, null, new { @class = "font-weight-bold" })<br />
                    @Html.TextBoxFor(m => m.DepartmentSize)
                </div>
                <div class="col-3">
                    @Html.LabelFor(m => m.TeamSize, null, new { @class = "font-weight-bold" })<br />
                    @Html.TextBoxFor(m => m.TeamSize)
                </div>
            </div>

            <hr />

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.k401Match, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.k401Match, null, new { @class = "w-50" }) %
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.HealthInsPercent, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.HealthInsPercent, null, new { @class = "w-50" }) %
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.DentalInsPercent, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.DentalInsPercent, null, new { @class = "w-50" }) %
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.VisionInsPercent, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.VisionInsPercent, null, new { @class = "w-50" }) %
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    @Html.LabelFor(m => m.Notes, null, new { @class = "font-weight-bold" })
                </div>
                <div class="col-10">
                    @Html.TextAreaFor(m => m.Notes, 5, 1, new { @class = "w-100" })
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3 float-right">Save</button>
        </form>
    </fieldset>